@model Zadanie_lab3.Models.FormModel
@{
    ViewData["Title"] = "Zadanie lab-3";
}

<div class="text-center">
    <h1 class="display-4">Zadanie lab-3 Rafał Kwiecień</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Create" method="post">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ilosc_powtorzen" class="control-label"></label>
                    <input asp-for="Ilosc_powtorzen" class="form-control" />
                    <span asp-validation-for="Ilosc_powtorzen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
